:root {
	--primary-light-2-color: #536376;
	--primary-light-1-color: #3a495b;
	--primary-color: #233142;
	--primary-dark-1-color: #162537;
	--primary-dark-2-color: #091727;

	--primary-light-2-semitransparent-color: #536376b3;
	--primary-light-2-transparent-color: #5363764d;
	--primary-semitransparent-color: #233142b3;
	--primary-transparent-color: #2331424d;
	--primary-dark-1-semitransparent-color: #162537b3;
	--primary-dark-1-transparent-color: #1625374d;
	--primary-dark-2-semitransparent-color: #091727b3;
	--primary-dark-2-transparent-color: #0917274d;



	--secondary-light-2-color: #bd2f53;
	--secondary-light-1-color: #9d1336;
	--secondary-color: #800020;
	--secondary-dark-1-color: #5e0018;
	--secondary-dark-2-color: #38000e;

	--dark-semitransparent-color: #000000d9;
	--dark-transparent-color: #000000b3;

	/* TEXT */
	--light-text-color: #ffffff;
	--light-dark-text-color: #dfdfdf;
	--warning-text-color: #ffbf00;
}
